<!DOCTYPE html>
<html>
<head>
    <title>EHR System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">
    <div class="left">
        <h2>Electronic Health Record System</h2>
    </div>

    <div class="right">
        {% if session.get('user') %}
            <span>Hi {{ session['user'] }}</span>

            <div class="dropdown">
                👤
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>